{% extends 'base.html' %}
{% block content %}
<h2>Create Receipt</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Receipt</button>
</form>
{% endblock content %}