{% extends 'base.html' %}
{% block content %}
<h1>Home</h1>
<table>
    <thead> 
        <tr>
            <th> Vendor </th>
            <th> Total </th>
            <th> Tax </th>
            <th> Date </th>
            <th> Category </th>
            <th> Accounts </th>
        </tr>
    </thead>
    <tbody>
    {% comment %} {% for receipt in receipt_list %} {% endcomment %}
        <tr>
            <td> receipt.vendor </td>
            <td> receipt.total </td>
            <td> receipt.tax </td>
            <td> receipt.date </td>
            <td> receipt.category </td>
            <td> receipt.account </td>
        </tr>
    {% comment %} {% endfor %} {% endcomment %}
    </tbody>
</table>
{% endblock content %}